.rightPullOutMenu_main {
  position: relative;
  width: 25rem;
  background: #101010;
  border-radius: 1rem;
}
.upperPortion_rightMenu {
  background: #232323;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.single_multiple_tags_upperPortion {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding-bottom: 1rem;
}
.single_multiple_tags_upperPortion button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #ffffff;
}
.betSlip_dropDown {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.clearAll {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.clearAll button:hover {
  scale: 0.95;
}
.clearAll button {
  background: none;
  cursor: pointer;
  border: none;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #acacac;
}
.betComponent_main {
  display: inline-block;
}
.matchDetailsForBet {
  margin-top: 0.5rem;
  padding-top: 0.3rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  width: 24rem;
  background: #232323;
  border-radius: 20px;
}
.matchDetailsForBet hr {
  width: 22rem;
  margin-left: 1rem;
  border: 0.2px solid #323232;
}
.rightPanel_teamsName_main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
  padding-top: 0.4rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.Live_Span {
  color: #ff0000;
  font-family: "SF pro";
  font-style: normal;
  margin-top: -0.3rem;
  margin-left: 0.2rem;
  font-weight: 600;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.rightPanel_teamsName_main {
  display: flex;
  justify-content: flex-start;
}
.team1_span {
  display: flex;
  justify-content: flex-start;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #acacac;
}
.betDetails_main {
  display: inline-block;
  width: 23rem;
  margin-left: 0.5rem;
  height: 7rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}
.winner_extraInning_span {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #5e5e5e;
  margin: 0.5rem 1rem;
}
.Winner_team_name_main {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}
.winnerTameName {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #ffffff;
}
.counter_root_div_rightMenu {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  background: linear-gradient(90.62deg, #212121 1.53%, #141315 120.08%);
  border-radius: 30px;
  box-shadow: 0px 4px 45px rgba(88, 74, 255, 0.1);
  width: 15rem;
}
.counter_root_div_rightMenu input {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
}
.counter_root_div_rightMenu input:focus {
  outline: none;
}
.counterSpan {
  display: inline-block;
  margin-right: 2.5rem;
  margin-top: 0.2rem;
}
.estimatePayout_below_winnerTeam {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 1rem;
}
.estimatePayout_below_winnerTeam span {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #acacac;
}
.winnerTeamPoints {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #ffffff;
}

.closeButtonOfSingleBet {
  display: inline-block;
  position: absolute;
  padding-left: 22rem;
  margin-top: -2rem;
  background: none;
  border: none;
  cursor: pointer;
}
.closeButtonOfSingleBet img {
  height: 0.8rem;
  width: 0.8rem;
}
.closeButtonOfSingleBet img:hover {
  scale: 0.9;
}
.lowerPortion_rightMenu {
  background: #232323;
  padding-top: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.totalStake_payOut_est_main {
  width: 25rem;
  margin-bottom: 1rem;
}
.totalStake_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.6rem;
  gap: 2.5rem;
  color: #acacac;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.etheruem_totalStak {
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.payout_Est_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
  margin-bottom: 0.6rem;
  color: #acacac;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.placeBets_main {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.placeBets_main:hover {
  transition: 0.3s ease-in-out;
  scale: 0.96;
}
.placeBets_span {
  display: flex;
  margin-bottom: 1rem;
  width: 23rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.011em;
  color: #ffffff;
  background: linear-gradient(90.45deg, #1cb1fd 0%, #356dfe 100%);
  border-radius: 32px;
}
.totalStake_amnt {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
