.SignIn_root_conatiner {
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 3;
  padding-left: 13rem;
  padding-right: 25rem;
  padding-bottom: 20rem;
}
.signIn_main_conatiner {
  background: linear-gradient(150.14deg, #202021 0%, #131214 101.02%);
  width: 30rem;
  margin-top: 3rem;
  height: 33rem;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
.SignInHeading_and_CrossButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SignInHeading_and_CrossButton h1 {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-indent: 5px;
  color: #ffffff;
}
.SignInHeading_and_CrossButton button {
  background: none;
  border: none;
}
.SignInHeading_and_CrossButton button:hover {
  cursor: pointer;
  scale: 1.1;
}
.SignInHeading_and_CrossButton button img {
  height: 1rem;
  width: 1rem;
}
.inputTag_with_Label_Login {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.inputTag_with_Label_Login label {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-indent: 5px;
  color: #ffffff;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}
.inputTag_with_Label_Login input {
  background: none;
  outline: none;
  border: 1px solid #575757;
  border-radius: 5rem;
  padding: 0.3rem;
  color: #ffffff;
  font-size: 16px;
  font-family: "SF pro";
}
.inputTag_with_Label_Login input::placeholder {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-indent: 5px;
  color: #575757;
}
.rememberMe {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.3rem;
  margin-left: 0.5rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-indent: 5px;
  color: #ffffff;
}
.loginButton_LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background: #4b5671;
  border-radius: 32px;
  padding: 0.5rem;
  cursor: pointer;
}
.loginButton_LoginPage button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-indent: 5px;
  color: #ffffff;
}
.loginButton_LoginPage:hover {
  scale: 0.97;
  background: linear-gradient(90.45deg, #1cb1fd 0%, #356dfe 100%);
  transition: 0.5s ease-in-out;
}
.login_google {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 11rem;
  border: 1px solid #dde1e6;
  filter: drop-shadow(4px 4px 24px rgba(35, 60, 142, 0.8));
  border-radius: 60px;
}
.login_google:hover {
  scale: 0.95;
}
.login_google img {
  width: 1.5rem;
  height: 1.5rem;
}
.login_google button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  text-indent: 5px;
  color: #ffffff;
  cursor: pointer;
}
.google_facebook_login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Continue_with_text {
  padding-top: 0.5rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-indent: 5px;
  color: #6d7783;
}
.already_acc {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-indent: 5px;
  color: #b2b6bc;
}
.already_acc a {
  color: #1cb1fd;
  text-decoration: none;
}
.forgetPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.forgetPassword a {
  color: #1cb1fd;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-indent: 5px;
}
