.sportsCarousel_main {
  color: white;
  font-size: 20px;
}
.carousel {
  display: inline-block;
  cursor: grab;
  overflow: hidden;
}
.inner-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 1vw;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item_NavLink {
  text-decoration: none;
}
.itemSports {
  background: linear-gradient(135deg, #212122 -26.43%, #121213 100%);
  width: 4vw;
  height: 4vw;
  border-radius: 10px;
}
.itemSports:hover {
  background: #121213;
  scale: 0.98;
}
.item_NavLink:hover {
  scale: 0.98;
}
.itemSports img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5vw;
  width: 1.5vw;
  display: inline-block;
  margin-top: 1.2vw;
  margin-left: 1.2vw;
  background: none;
}
.item_sportsName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SF pro";
  font-size: 10px;
  line-height: 16px;
  margin-top: 0.4rem;
  text-transform: uppercase;
  color: #616161;
}
