.Carousel_rootDiv {
  padding-top: 1rem;
  /* padding-left: 7rem;
  padding-right: 23rem; */
  height: 18rem;
  /* width: 80rem; */
  width: 100vw;
  padding-right: 37%;
  padding-left: 1.5%;
}

.carousel_root_child {
  border-radius: 45px;
}
.carousel_main_Div {
  display: flex;
}
.carousel_textPortion_root_div {
  display: inline-block;
  padding: 2%;
  width: 70vw;
}
.carousel_textPortion_root_div h1 {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  /* font-size: 32px; */
  font-size: auto;
  line-height: 38px;
  color: #ffffff;
  padding-bottom: 1rem;
}
.paragrpahs_of_textPortion {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  /* font-size: 20px; */
  font-size: auto;
  color: #ffffff;
  padding-bottom: 3%;
}
.button_textPortion button {
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  margin-left: -0.5rem;
  font-family: "SF pro";
  padding: 0.3rem 1rem;
  /* padding: auto; */
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  background: linear-gradient(96.51deg, #18bbfd -4.59%, #3769fe 100%);
  box-shadow: 0px 4px 15px rgba(88, 74, 255, 0.29);
  border-radius: 70px;
  cursor: pointer;
}
.button_textPortion button:hover {
  scale: 0.9;
}
.img_carousel img {
  display: inline-block;
  /* height: 14rem; */
  padding: auto;
  /* width: 25rem; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
  opacity: 0.4;
  height: 15rem;
  width: 30vw;
}
