.LiveEventsContainer {
  margin-left: 0.5rem;
  margin-top: 3.5rem;
  margin-right: 1rem;
  width: 62rem;
  margin-bottom: 3.5rem;
}
p {
  margin: 0%;
  width: fit-content;
}
.League_LiveEvents {
  display: flex;
  background: black;
  flex-direction: column;
  border-bottom: 1px solid grey;
  margin-bottom: 2.5rem;
}

.MainMenu {
  display: flex;
  padding: 0.5rem;
}

.LeagueName_LiveEvents {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: white;
}
.DashboardRoot {
  margin-bottom: 1rem;
}
.dropDownIcon_LiveEvents {
  margin-left: auto;
  width: 1.2rem;
  height: 0.8rem;
  cursor: pointer;
}
.dropDownIcon_LiveEvents:hover {
  scale: 0.9;
}

.DashboardMatch_LiveEvents {
  border-top: 1px solid grey;
  display: flex;
  padding: 1rem;
}

.LiveText_LiveEvents {
  margin: 0%;
  color: red;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ff0000;
}

.Live_LiveEvents {
  width: 15%;
  margin: auto;
  display: flex;
  align-items: center;
}

.LiveDot_LiveEvents {
  height: 4.45px;
  width: 4.45px;
  background: red;
  margin-left: 0.2rem;
  border-radius: 50%;
}

.FTText_LiveEvents {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #a7a7a7;
}

.TeamsName_LiveEvents {
  width: 50%;
  margin: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Team1Name_LiveEvents,
.Team2Name_LiveEvents,
.Team1Score_LiveEvents,
.Team2Score_LiveEvents {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: justify;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #ffffff;
}

.TeamsScore_LiveEvents {
  width: 15%;
  gap: 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TimeAndHalf_LiveEvents {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.statsIcon_LiveEvents {
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 3rem;
  right: 2rem;
  background: linear-gradient(
    rgba(30, 121, 203, 0.5) 9.22%,
    rgba(37, 101, 203, 0.5) 100%
  );
}

.Time_LiveEvents,
.Half_LiveEvents {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #969696;
}

.Predictions_LiveEvents {
  display: flex;
  width: 100%;
  margin: auto;
}

.Team1Prediction_LiveEvents,
.Team2Prediction_LiveEvents,
.DrawPrediction_LiveEvents {
  width: 100%;
  margin: 0.5rem;
  padding: 0.7rem;
  text-align: left;
  background: linear-gradient(106.46deg, #2b2b2b -50.93%, #121113 97.2%);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.TeamName_LiveEvents,
.DrawText_LiveEvents {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.TeamNameSuspended_LiveEvents {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #464646;
}

.PredictionValueSuspended_LiveEvents {
  margin-top: 0.3rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 1.75px;
  text-transform: capitalize;
  color: #bdbdbd;
}

.PredictionValue_LiveEvents {
  margin-top: 0.3rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #a6f8da 11.84%,
    #e1f3cf 49.59%,
    #81baf3 101.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.LeftMain_LiveEvents {
  display: flex;
  width: 50%;
}

.RightMain_LiveEvents {
  width: 50%;
}

@media (max-width: 600px) {
  .DashboardMatch_LiveEvents {
    flex-direction: column;
  }
  .LeftMain_LiveEvents {
    width: 100%;
    padding-bottom: 1rem;
  }
  .RightMain_LiveEvents {
    width: 100%;
  }
  .PredictionValueSuspended_LiveEvents {
    font-size: 14px;
  }
}
