.DashboardRoot {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.DashboardContainer {
  margin-left: 0.5rem;
  margin-top: 3.5rem;
  margin-right: 1rem;
  /* width: 60rem; */
  width: 65vw;
  margin-bottom: 3.5rem;
}
p {
  margin: 0%;
  width: fit-content;
}
.League {
  display: flex;
  background: black;
  flex-direction: column;
  border-bottom: 1px solid grey;
}

.MainMenu {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.dropDownIcon {
  margin-left: auto;
  width: 1rem;
  height: 0.8rem;
  cursor: pointer;
  margin-right: 0.5rem;
}
.dropDownIcon:hover {
  scale: 0.9;
}
.TimeHalfLogos_Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .statsIcon_LiveEvents {
  background: linear-gradient(
    133.83deg,
    rgba(30, 121, 203, 0.5) 9.22%,
    rgba(37, 101, 203, 0.5) 100%
  );
} */
.Arrow {
  margin: 0.1rem 0.2rem 0.2rem 0.2rem;
}
.DropDown {
  display: inline-block;
  width: 1rem;
  height: 0.8rem;
}
.LogosDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.3rem;
}
.LogosDashboard:hover {
  scale: 0.9;
}
.DashboardMatch {
  border-top: 1px solid grey;
  display: flex;
  background: black;
  padding: 1rem;
  flex-direction: column;
  width: 62vw;
}

.LiveText {
  margin: 0%;
  color: red;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ff0000;
}

.Live {
  width: 15%;
  margin: auto;
  display: flex;
  align-items: center;
}

.LiveDot {
  height: 4.45px;
  width: 4.45px;
  background: red;
  margin-left: 0.2rem;
  border-radius: 50%;
}

.FTText {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #a7a7a7;
}

.TeamsName {
  width: 50%;
  margin: auto;
  gap: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Team1Name,
.Team2Name,
.Team1Score,
.Team2Score {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 16px;
  text-align: justify;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #ffffff;
}

.TeamsScore {
  width: 15%;
  gap: 1vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TimeAndHalf {
  margin-left: auto;
  display: flex;
  gap: 0.8vw;
}

.Time,
.Half {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #969696;
}

.Predictions {
  display: flex;
  width: 100%;
  margin: auto;
}

.Team1Prediction,
.Team2Prediction,
.DrawPrediction {
  width: 100vw;
  margin: 0.5rem;
  padding: 1vw;
  text-align: center;
  background: linear-gradient(106.46deg, #2b2b2b -50.93%, #121113 97.2%);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.TeamName,
.DrawText {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 0.85vw;
  line-height: 1vw;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.TeamNameSuspended {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 1vw;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #464646;
}

.PredictionValueSuspended {
  margin-top: 0.3rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1vw;
  text-align: center;
  letter-spacing: 1.75px;
  text-transform: capitalize;
  color: #bdbdbd;
}

.PredictionValue {
  margin-top: 0.3rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9vw;
  line-height: 1vw;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #a6f8da 11.84%,
    #e1f3cf 49.59%,
    #81baf3 101.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.LeftMain {
  display: flex;
  width: 50%;
}
.RightMain {
  width: 50%;
}
.AllMain {
  display: flex;
}
@media (max-width: 600px) {
  .AllMain {
    flex-direction: column;
  }
  .DashboardMatch {
    flex-direction: column;
  }
  .LeftMain {
    width: 100%;
    margin-bottom: 1rem;
  }
  .RightMain {
    width: 100%;
  }
  .PredictionValueSuspended {
    font-size: 14px;
  }
}
