.Btn1 {
  display: none;
  justify-content: space-between;
  width: 12rem;
  height: 2.3rem;
  background: linear-gradient(90.62deg, #212121 1.53%, #141315 120.08%);
  box-shadow: 0px 4px 45px rgba(88, 74, 255, 0.2);
  border-radius: 30px;
}
.Leftdiv {
  display: flex;
  justify-content: space-evenly;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.Rightdiv {
  background: linear-gradient(104.01deg, #1b80cb -33.89%, #002e8d 101.19%);
  height: 2.3rem;
  width: 4.5rem;
  font-family: "Sf Pro";
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 0.7rem;
  padding-left: 0.5rem;
  cursor: pointer;
}
.Rightdiv:hover {
  scale: 0.95;
}
.cryptoValue_wallet {
  background: none;
}
.cryptoValue_wallet p {
  background: none;
  color: white;
  font-family: "Sf Pro";
  display: inline-block;
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-weight: bold;
}
.dropdwon_navBar {
  position: fixed;
}
