* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ProfileBetsContainer {
  margin-top: 5rem;
  width: 100%;
}
.DepositsAndWithDraws {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.Deposits,
.WithDraws {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 238px;
  background: linear-gradient(97.91deg, #393939 -51.8%, #141415 100%);
  border-radius: 24px;
  padding: 1rem;
}

.DepositsHeading,
.DepositAmount,
.WithDrawHeading,
.WithdrawAmount {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-indent: 5px;
  color: #ffffff;
}

.DepositAmountAndLogo,
.WithdrawAmountAndLogo {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

@media (max-width: 600px) {
  .DepositsAndWithDraws {
    flex-direction: column;
  }
}
