.StartSoon_root_div {
  width: 70vw;
}
.StartingSoonContainer {
  margin-left: 0.5rem;
  margin-top: 3.5rem;
  margin-right: 1rem;
  width: 65vw;
  margin-bottom: 3.5rem;
}
p {
  margin: 0%;
  width: fit-content;
}
.League_StartingSoon {
  display: flex;
  background: black;
  flex-direction: column;
  border-bottom: 1px solid grey;
  margin-bottom: 2.5rem;
  width: 62vw;
}

.MainMenu_StartingSoon {
  display: flex;
  padding: 0.5rem;
}

.LeagueName_StartingSoon {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  line-height: 1vw;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: white;
}

.dropDownIcon_StartingSoon {
  margin-left: auto;
  width: 1rem;
  height: 0.8rem;
  cursor: pointer;
  margin-right: 0.5rem;
}
.dropDownIcon_StartingSoon:hover {
  scale: 0.9;
}

.DashboardMatch_StartingSoon {
  border-top: 2px solid grey;
  display: flex;
  padding: 1rem;
  width: 62vw;
}

.UpcomingText_StartingSoon {
  width: 15%;
  margin: auto;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #a7a7a7;
}
.TeamsName_StartingSoon {
  width: 50%;
  margin: auto;
  gap: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Team1Name_StartingSoon,
.Team2Name_StartingSoon,
.Team1Score_StartingSoon,
.Team2Score_StartingSoon {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 16px;
  text-align: justify;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #ffffff;
}

/* .statsIcon_StartingSoon {
  height: 11px;
  width: 11px;
  position: relative;
  top: 3rem;
  right: 2rem;
  background: linear-gradient(
    133.83deg,
    rgba(30, 121, 203, 0.5) 9.22%,
    rgba(37, 101, 203, 0.5) 100%
  );
  backdrop-filter: blur(100px);
} */

.Predictions_StartingSoon {
  display: flex;
  width: 100%;
  margin: auto;
}

.Team1Prediction_StartingSoon,
.Team2Prediction_StartingSoon,
.DrawPrediction_StartingSoon {
  width: 100vw;
  margin: 0.5rem;
  padding: 1vw;
  text-align: left;
  background: linear-gradient(106.46deg, #2b2b2b -50.93%, #121113 97.2%);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.TeamName_StartingSoon,
.DrawText_StartingSoon {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 0.85vw;
  line-height: 1vw;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.TeamNameSuspended_StartingSoon {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 1vw;
  text-align: left;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #464646;
}

.PredictionValueSuspended_StartingSoon {
  margin-top: 0.3rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 1vw;
  text-align: left;
  letter-spacing: 1.75px;
  text-transform: capitalize;
  color: #bdbdbd;
}

.PredictionValue_StartingSoon {
  margin-top: 0.3rem;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 1vw;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #a6f8da 11.84%,
    #e1f3cf 49.59%,
    #81baf3 101.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.LeftMain_StartingSoon {
  display: flex;
  width: 50%;
}

.RightMain_StartingSoon {
  width: 50%;
}

@media (max-width: 600px) {
  .DashboardMatch_StartingSoon {
    flex-direction: column;
  }
  .LeftMain_StartingSoon {
    width: 100%;
    padding-bottom: 1rem;
  }
  .RightMain_StartingSoon {
    width: 100%;
  }
  .PredictionValueSuspended_StartingSoon {
    font-size: 14px;
  }
}
