.login {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  border-radius: 14px;
  font-family: "Poppins";
  display: flex;
  width: 45%;
  height: 80%;
  margin-top: 5%;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(150.14deg, #202021 0%, #131214 101.02%);
  border-radius: 30px;
  /* padding: 60px; */
}
.login__textBox {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__btn {
  padding: 8px;
  font-size: 15px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: #6966ff;
}
.login__google {
  background-color: #75749c;
}
.login div {
  margin-top: 7px;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: 350px;
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.Regitser_root_div {
  position: fixed;
  z-index: 3;
  padding-top: 0.2rem;
  padding-left: 11rem;
  color: aliceblue;
}
.Register_Main_container {
  display: inline-block;
  width: 28rem;
  height: 35rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  background: linear-gradient(150.14deg, #202021 0%, #131214 101.02%);
  border-radius: 30px;
}
.RegisterHeading_and_CrossButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.RegisterHeading_and_CrossButton h1 {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-indent: 5px;
  color: #ffffff;
}
.RegisterHeading_and_CrossButton button {
  background: none;
  border: none;
}
.RegisterHeading_and_CrossButton button:hover {
  cursor: pointer;
}
.RegisterHeading_and_CrossButton button img {
  height: 1rem;
  width: 1rem;
}
.inputTag_with_Label {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.inputTag_with_Label label {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-indent: 5px;
  color: #ffffff;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}
.inputTag_with_Label input {
  background: none;
  outline: none;
  border: 1px solid #575757;
  border-radius: 5rem;
  padding: 0.3rem;
  color: #ffffff;
  font-size: 16px;
  font-family: "SF pro";
}
.inputTag_with_Label input::placeholder {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-indent: 5px;
  color: #575757;
}
.terms_agreements_check_box {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.terms_agreements_check_box span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SF pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-indent: 5px;
  color: #ffffff;
}
